<!DOCTYPE html>
<html>
<head>
	<title>Groundworkzconstruction.com</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
	<link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
	<body>
	<!-- Header -->
	<div th:replace="fragments/header :: header"/>

	<div class="container">
		<div class="hero-unit">
			<h2>Keith Zinkovich (Principal)</h2>
			<h3>Biography</span></h3>
			<span>Groundworkz
			Construction specializes in commercial and residential decorative
			concrete.&nbsp; I use the very best colors, stamps, concrete, and
			techniques to create beautiful sidewalks, porches, patios, steps and
			driveways.&nbsp; My goal is to communicate well with clients and help you
			design and create unique hardscapes.&nbsp;&nbsp; I believe in &#8220;old fashion&#8221;
			materials and workmanship and still use a compacted rock base and
			rebar throughout all of my projects.&nbsp; Many contractors have done
			away with these very basic and critical steps.&nbsp; Decorative concrete
			is a very strong and beautiful surface that will give you years of
			low maintenance use.&nbsp; Let Groundworkz Construction help you create a
			one of kind project with the strength of concrete and the beauty of
			stone, pavers, bricks, wood and more.&nbsp;&nbsp;&nbsp;
            </span>
		</div>

		<div th:replace="fragments/footer :: footer"/>
	</div>
	</body>
</html>