<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Groundworkzconstruction New Customer</title>
    <link rel="stylesheet" href="/css/main.css" />
    <meta charset="utf-8" />
</head>
<body>
<h2>Customer Form</h2>
<!--
    Set the action attribute to "/exercise12/saveCustomer.html", and use
    th:object to bind the ${customer} variable as the form-backing bean.
-->
<form action="#" th:action="@{/customer/new}" th:object="${customer}" method="post">

    <div>
        <label for="firstName">First name:</label>
        <input class="form-control"
               type="text"
               id="firstName"
               th:field="*{firstName}"/>
    </div>

    <div>
    <label for="lastName">Last name:</label>
        <input class="form-control"
               type="text"
               id="lastName"
               th:field="*{lastName}"/>
        </div>

    <div>
    <label for="address1">Address 1</label>
        <input class="form-control"
               type="text"
               id="address1"
               th:field="*{address1}"/>
        </div>

    <div>
    <label for="city">City</label>
        <input class="form-control"
               type="text"
               id="city"
               th:field="*{city}"/>
        </div>

    <div>
    <label for="state">State</label>
        <input class="form-control"
               type="text"
               id="state"
               th:field="*{state}"/>
        </div>

    <div>
    <label for="zip">ZipCode</label>
        <input class="form-control"
               type="text"
               id="zipCode"
               th:field="*{zipCode}"/>
        </div>

    <div>
    <label for="email">Email</label>
        <input class="form-control"
               type="text"
               id="email"
               th:field="*{emailAddress}"/>
        </div>

    <div>
    <label for="comments">Comments</label>
    <input class="form-control"
           type="text"
           id="comments"
           th:field="*{comments}"/>
    </div>

    <div>
    <label for="existingCustomers">Existing Customers</label>

    <!-- ownersList.html -->
    <h2>Existing Customers</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">Name</th>
            <th style="width: 200px;">Address</th>
            <th>City</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customer : ${listOfCustomers}">
            <td th:text="|${customer.firstName} ${customer.lastName}|"/>
            <td th:text="${customer.address}"/>
            <td th:text="${customer.city}"/>
            <td th:text="${customer.emailAddress}"/>
        </tr>
        </tbody>
    </table>
    </div>
    <input type="submit" />
</form>
</body>
</html>
