<!DOCTYPE html>
<html>
<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
</head>
<body>
    <!--/*  Multiple fragments may be defined in one file */-->
    <div th:fragment="footer">

        <table width="99%" border="0">
            <tr>
                <td width="49%" height="74"><span class="style1">Copyrighted 2006 ~groundworkzconstruction</span>
                </td>
                <td width="51%">
                    <div align="right"><span class="style2">5550 E. Beagle Drive<br>
              Terre Haute, IN 47802<br>
              (812)894-0733<br>
              Licensed &amp; Bonded </span></div>
                </td>
            </tr>
        </table>

    </div>

</body>
</html>

