<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>


<div th:fragment="header">
    <div class="container">
        <img th:src="@{/resources/images/gwc_logo.png}" width="301" height="120" />
    <ul class="nav nav-pills">
        <li th:classappend="${page == 'home' ? 'active' : ''}"><a href="#" th:href="@{/}"><span class="glyphicon glyphicon-home"></span>Home</a></li>
        <li th:classappend="${page == 'aboutUs' ? 'active' : ''}"><a href="#" th:href="@{/aboutUs}">About Us</a></li>

        <li class="dropdown">

            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Services <b class="caret"></b></a>

            <ul class="dropdown-menu">

                <li><a href="#" th:href="@{/services}">Decorative Concrete</a></li>

                <li><a href="#" th:href="@{/services}">Streets & Gutters</a></li>

                <li><a href="#" th:href="@{/services}">Interiors</a></li>

            </ul>

        </li>

        <li th:classappend="${page == 'contactUs' ? 'active' : ''}"><a href="#" th:href="@{/customer}"><span class="glyphicon glyphicon-envelope"></span>Contact Us</a></li>
    </ul>
    </div>
</div>
</body>
</html>